---
title: "Search Results"
layout: page
page_class: "search-results-page"
show_product_descriptions: True
---

<section class="search-results-section">
  <div class="container">
    <ul class="product-previews">
      <li class="product-preview">
        <figure class="product-image">
          <img src="{{ site.baseurl }}/assets/img/products/denture-lab-products.jpg">
        </figure>
        <div class="product-information">
          <h3>Product Name</h3>
          <p class="product-price">$99.99</p>
          {% if page.show_product_descriptions %}
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          {% endif %}
          <a href="{{ site.baseurl }}/products/" class="button border small">View</a>
        </div>
      </li>
      <li class="product-preview">
        <figure class="product-image">
          <img src="{{ site.baseurl }}/assets/img/products/denture-lab-products.jpg">
        </figure>
        <div class="product-information">
          <h3>Product Name</h3>
          <p class="product-price">$99.99</p>
          {% if page.show_product_descriptions %}
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          {% endif %}
          <a href="{{ site.baseurl }}/products/" class="button border small">View</a>
        </div>
      </li>
      <li class="product-preview">
        <figure class="product-image">
          <img src="{{ site.baseurl }}/assets/img/products/denture-lab-products.jpg">
        </figure>
        <div class="product-information">
          <h3>Product Name</h3>
          <p class="product-price">$99.99</p>
          {% if page.show_product_descriptions %}
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          {% endif %}
          <a href="{{ site.baseurl }}/products/" class="button border small">View</a>
        </div>
      </li>
      <li class="product-preview">
        <figure class="product-image">
          <img src="{{ site.baseurl }}/assets/img/products/denture-lab-products.jpg">
        </figure>
        <div class="product-information">
          <h3>Product Name</h3>
          <p class="product-price">$99.99</p>
          {% if page.show_product_descriptions %}
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          {% endif %}
          <a href="{{ site.baseurl }}/products/" class="button border small">View</a>
        </div>
      </li>
  </div>
</section>
