*, *:before, *:after {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  background: #192D40 url("../img/logo-pattern.png");
  font: 400 16px/1.6 "Roboto", sans-serif;
  color: #192D40; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.2; }

h1 {
  font-weight: 700; }

h3, h4, h5, h6 {
  font-weight: 500; }

h2 {
  text-transform: uppercase;
  letter-spacing: .25px; }

p {
  margin-top: 0;
  margin-bottom: 1.5rem; }

a {
  color: #2abdcd;
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease; }
  a:hover {
    opacity: .7; }

main {
  background-color: #fff;
  padding-bottom: 4rem; }

.container {
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem;
  z-index: 500; }
  @media screen and (min-width: 736px) {
    .container.flex-container {
      display: flex;
      flex-wrap: wrap; } }

.site-content {
  margin-bottom: 2rem; }

.button {
  display: inline-block;
  padding: .675rem 1.25rem;
  border: 0;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .2s ease; }
  .button.more {
    display: block;
    width: 60%;
    max-width: 20rem;
    padding: 1rem 2rem;
    margin: 2rem auto;
    background: #192D40;
    text-align: center;
    color: #fff; }
    @media screen and (min-width: 736px) {
      .button.more {
        width: 30%; } }
  .button:hover {
    opacity: .7; }
  .button.border {
    background: transparent;
    border: 2px solid #192D40;
    color: #192D40; }
  .button.solid {
    border: 2px solid #192D40;
    background: #192D40;
    color: #fff; }
  .button.disabled {
    background: transparent !important; }
  .button.small {
    padding: .5rem 1.25rem; }

/*utility classes*/
.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); }

.display-on-mobile {
  display: inherit; }
  @media screen and (min-width: 1020px) {
    .display-on-mobile {
      display: none !important; } }

.action-link {
  display: inline-block;
  font-size: .75rem;
  letter-spacing: .5px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
  color: #192D40; }

input, select {
  font-family: inherit;
  font-size: 1rem; }

.form-control {
  margin-bottom: 1.5rem; }
  .form-control label {
    display: block;
    margin-bottom: .5rem;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .5px; }
  .form-control input[type=text], .form-control input[type=email], .form-control input[type=password], .form-control textarea {
    width: 100%;
    padding: 1rem .5rem; }
  .form-control p {
    font-size: .875rem;
    margin-top: .5rem; }

.button-controls {
  text-align: right; }

.site-header {
  background-color: #fff; }
  .site-header .container {
    max-width: 128rem;
    padding: 2rem; }

.homepage .site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1000; }

.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 3rem;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center; }
  @media screen and (min-width: 1020px) {
    .contact-info {
      top: .5rem;
      right: 2rem;
      text-align: right; } }
  @media screen and (min-width: 1020px) {
    .contact-info li {
      display: inline-block; } }
  .contact-info li a {
    font-size: .9375rem;
    letter-spacing: .5px;
    color: #192D40; }
    @media screen and (min-width: 1020px) {
      .contact-info li a {
        font-size: .8215rem; } }
  @media screen and (min-width: 1020px) {
    .contact-info li:first-child:after {
      content: " | "; } }

.brand {
  display: inline-block;
  margin-top: .5rem; }
  .brand svg {
    width: 9rem;
    height: auto; }
    @media screen and (min-width: 736px) {
      .brand svg {
        width: 10rem; } }
  .brand .cls-1 {
    fill: #2abdcd; }
  .brand.reversed .cls-1 {
    fill: #fff; }

.nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav li {
    display: inline-block;
    margin-left: 1rem; }
    @media screen and (min-width: 736px) {
      .nav li {
        margin-left: 2rem; } }
    .nav li a {
      text-transform: uppercase;
      letter-spacing: .5px;
      color: #192D40; }

.site-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 8rem 4rem;
  background-color: #D1F1F3;
  transform: translateX(-100%);
  z-index: 10000; }
  @media screen and (min-width: 736px) {
    .site-nav-container {
      width: 40%; } }
  @media screen and (min-width: 1020px) {
    .site-nav-container {
      position: static;
      display: inline-block;
      width: auto;
      height: auto;
      margin-top: .5rem;
      padding: 0;
      text-align: right;
      background-color: transparent;
      transform: none; } }
  .site-nav-container.closed {
    transform: translateX(-100%);
    transition: transform .3s ease-in; }
  .site-nav-container.open {
    transform: translateX(0);
    transition: transform .3s ease-out; }

.site-nav {
  display: inline-block;
  text-align: center; }
  @media screen and (min-width: 1020px) {
    .site-nav {
      position: relative;
      top: -2rem; } }
  .site-nav li {
    display: block;
    margin-bottom: 2rem; }
    @media screen and (min-width: 1020px) {
      .site-nav li {
        display: inherit;
        margin-bottom: 0; } }
  .site-nav a {
    font-size: 1.25rem; }
    @media screen and (min-width: 1020px) {
      .site-nav a {
        font-size: 1rem; } }

.secondary-nav {
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: inline-block; }
  .secondary-nav a {
    cursor: pointer; }
    .secondary-nav a svg {
      width: 1.5rem;
      height: auto; }

.site-nav-control {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  color: #192D40;
  background-color: transparent;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  vertical-align: bottom;
  cursor: pointer;
  transition: opacity .1s linear; }
  @media screen and (min-width: 1020px) {
    .site-nav-control {
      display: none; } }
  .site-nav-control:hover {
    opacity: .7; }

.open-site-nav:before {
  content: '\2630'; }

.close-site-nav:before {
  content: '\00D7'; }

.footer-nav .nav {
  columns: 2; }

.footer-nav li {
  display: block;
  margin-bottom: 1rem;
  margin-left: 0; }
  @media screen and (min-width: 736px) {
    .footer-nav li {
      margin-left: 1rem; } }
  .footer-nav li a {
    color: #fff; }

.site-footer {
  color: #fff; }
  .site-footer a {
    color: #fff; }

.business-meta {
  width: 50%; }
  .business-meta .email {
    display: block;
    margin: 1rem 0; }

.site-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 2rem;
  text-align: center; }
  .site-meta li {
    display: inline-block;
    margin: 1rem;
    font-size: .875rem; }
  .site-meta a {
    text-decoration: underline; }

.footer-nav {
  margin-top: 2rem; }
  @media screen and (min-width: 736px) {
    .footer-nav {
      width: 50%; } }

.hero-section {
  padding-top: 10rem;
  padding-bottom: 4rem;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }

.hero-text {
  margin: auto;
  text-align: center; }
  @media screen and (min-width: 736px) {
    .hero-text {
      max-width: 60%; } }
  .hero-text p {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2; }
    @media screen and (min-width: 736px) {
      .hero-text p {
        font-size: 3.5rem; } }
  .hero-text .button {
    padding: 1rem 1.5rem; }

.homepage-section .container {
  padding: 4rem; }

.homepage-section h2 {
  font-weight: 500;
  text-align: center; }
  @media screen and (min-width: 736px) {
    .homepage-section h2 {
      text-align: left; } }

.homepage-section p {
  font-size: 1.125rem; }

.catalog-section {
  background-color: #D1F1F3;
  overflow: hidden; }
  @media screen and (min-width: 736px) {
    .catalog-section .container {
      display: flex;
      padding-bottom: 2rem; } }
  @media screen and (min-width: 1020px) {
    .catalog-section .container {
      padding-bottom: 0; } }

.catalog-image {
  margin-bottom: -.5rem;
  margin-top: 0; }
  .catalog-image img {
    max-width: 100%;
    height: auto; }

.catalog-text {
  margin-top: -1rem; }
  @media screen and (min-width: 736px) {
    .catalog-text {
      max-width: 40%; } }

.page-header .container {
  padding-bottom: 1rem; }

.page-header h1 {
  margin-top: 0;
  font-size: 3rem; }
  .page-header h1 small {
    display: inline-block;
    margin-left: 1rem;
    color: #2abdcd; }

.user-content {
  clear: both;
  margin-bottom: 2rem; }
  .user-content:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 736px) {
    .user-content p, .user-content ul, .user-content ol, .user-content blockquote {
      max-width: 60%; } }
  .user-content a {
    text-decoration: underline; }
    .user-content a.button {
      text-decoration: none; }
  .user-content h2 {
    font-size: 1.5rem; }
    .user-content h2:first-child {
      margin-top: 0; }
  .user-content ul {
    list-style: square;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding: 0; }
    .user-content ul li {
      margin-bottom: .5rem; }
  .user-content blockquote {
    clear: both;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #2196a3;
    line-height: 1.4; }
  .user-content figure {
    margin: 2rem 0; }
    @media screen and (min-width: 1020px) {
      .user-content figure {
        float: right;
        margin: 2rem 0 2rem 2rem; } }
    .user-content figure img {
      max-width: 100%;
      height: auto; }
    .user-content figure figcaption {
      margin: .25rem 0;
      font-size: .875rem;
      font-style: italic; }

.collection-previews {
  list-style: none;
  margin: 0;
  padding: 0; }

.collection-preview {
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #EDEEEE; }
  @media screen and (min-width: 736px) {
    .collection-preview {
      display: flex; } }
  .collection-preview:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }
  @media screen and (min-width: 736px) {
    .collection-preview .collection-image {
      width: 30%;
      padding-left: 2rem; } }
  .collection-preview .collection-image img {
    max-width: 100%;
    height: auto; }
  @media screen and (min-width: 736px) {
    .collection-preview .collection-text {
      width: 50%;
      padding-left: 2rem; } }
  .collection-preview .collection-text h3 {
    margin-top: 0;
    font-size: 1.5rem; }
  .collection-preview .collection-cta {
    width: 100%;
    margin: 2rem auto 0;
    text-align: center; }
    @media screen and (min-width: 736px) {
      .collection-preview .collection-cta {
        width: 20%; } }

.collection-filters {
  position: relative;
  margin-top: 2rem;
  background-color: #D1F1F3; }
  .collection-filters .container {
    padding-top: 0;
    padding-bottom: 0; }
  .collection-filters h3 {
    margin-top: 2rem; }

.filtering {
  width: 100%;
  overflow: hidden;
  transition: max-height .2s ease-in-out; }
  .filtering.open {
    max-height: 50rem; }
  .filtering.closed {
    max-height: .5rem; }

.filter-options {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  columns: 4; }
  .filter-options li {
    margin-bottom: .5rem; }
  .filter-options a {
    font-size: .875rem;
    color: #192D40; }

.filters-toggle {
  position: absolute;
  top: -2.75rem;
  right: 0;
  width: 8rem;
  padding: 1rem;
  background-color: #D1F1F3;
  border: 0;
  cursor: pointer; }
  .filters-toggle:hover {
    opacity: .7; }

.sorting {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #EDEEEE; }
  .sorting h3 {
    display: inline-block;
    margin-right: 1rem; }

.sort-options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block; }
  .sort-options li {
    display: inline-block;
    margin-right: 1rem; }
  .sort-options a {
    font-size: .875rem; }

.product-previews {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 736px) {
    .product-previews {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      margin-left: -2rem; } }

.product-preview {
  display: flex;
  width: calc(33.333% - 2rem);
  margin-left: 2rem;
  margin-bottom: 4rem; }

.product-image {
  width: calc(45% - 1rem);
  margin: 0 1rem 0 0; }
  .product-image img {
    max-width: 100%;
    height: auto; }

.product-information {
  width: 55%; }
  .product-information h3 {
    font-size: 1.125rem; }
  .product-information .product-price {
    margin-bottom: .25rem;
    font-size: .875rem; }
  .product-information .product-description {
    margin-bottom: .25rem; }
  .product-information .button {
    margin-top: 1.5rem; }

.product-details {
  margin-bottom: 4rem; }
  .product-details .container {
    padding-top: 0; }
  .product-details .product-image {
    order: 2;
    width: calc(60% - 8rem);
    margin-left: 8rem;
    margin-right: 0; }
  .product-details .product-information {
    order: 1;
    width: 40%; }

.product-collection-label {
  display: block;
  margin-bottom: .5rem;
  font-size: .75rem;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.related-products {
  background-color: #D1F1F3; }
  .related-products .product-preview {
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    background-color: #fff; }

.account-page h2 {
  margin-top: 0;
  margin-bottom: 1rem; }

.account-info {
  width: calc(35% - 2rem);
  margin-right: 2rem; }

.account-orders {
  width: 65%; }

.account-address {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem; }

.account-form-section .container {
  max-width: 40%; }

.account-form-section h1 {
  margin-top: 0;
  font-size: 2.5rem; }

.account-form {
  margin: 1rem 0;
  padding: 2rem;
  background-color: #EDEEEE; }

.order-previews {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%; }

.order-preview {
  display: table-row; }
  .order-preview div {
    display: table-cell;
    padding: 1rem .5rem .5rem;
    border-bottom: 1px solid #EDEEEE; }

.order-preview-headings {
  text-transform: uppercase;
  font-size: .75rem; }
  .order-preview-headings div {
    padding-top: 0; }

.order-meta-section {
  background-color: #D1F1F3; }

.billing-info {
  width: 50%; }

.fulfillment-info {
  width: 50%; }

.status-label {
  padding: .5rem;
  text-transform: uppercase;
  background-color: #fff; }

.order-details {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%; }

.order-detail-headings {
  text-transform: uppercase;
  font-size: .75rem; }
  .order-detail-headings span {
    padding-top: 0; }

.order-detail {
  display: table-row; }
  .order-detail div {
    display: table-cell;
    width: 15%;
    padding: 1rem .5rem .5rem;
    border-bottom: 1px solid #EDEEEE; }

.order-detail-product {
  width: 40% !important; }

.order-detail-label {
  column-span: 4;
  text-align: right;
  color: #9ea4a4; }

.order-detail-order-total {
  font-weight: 700; }

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem; }

.cart-item {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  border-bottom: 1px solid #EDEEEE; }
  .cart-item:first-child {
    border-top: 1px solid #EDEEEE; }
  .cart-item .product-image {
    width: calc(20% - 2rem); }
  .cart-item .product-information {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%; }
    .cart-item .product-information * {
      padding: 1rem; }
    .cart-item .product-information h3 {
      width: 40%;
      margin: 0; }
    .cart-item .product-information input {
      width: 10%;
      padding: .5rem;
      text-align: center; }
    .cart-item .product-information .product-price {
      width: 30%;
      margin-top: 0;
      margin-bottom: 0;
      text-align: right;
      font-size: 100%; }
    .cart-item .product-information .remove-item {
      width: 20%;
      text-align: right; }

.cart-total {
  margin-bottom: 2rem;
  padding: 1rem 20% 1rem 0;
  border-bottom: 1px solid #EDEEEE;
  text-align: right;
  font-weight: 700; }

.search-results-section .product-previews {
  display: block; }

.search-results-section .product-preview {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid #EDEEEE; }

.search-results-section .product-image {
  width: calc(30% - 2rem); }

.search-results-section .product-information {
  width: 70%; }

.user-content {
  clear: both;
  margin-bottom: 2rem; }
  .user-content:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 736px) {
    .user-content p, .user-content ul, .user-content ol, .user-content blockquote {
      max-width: 60%; } }
  .user-content a {
    text-decoration: underline; }
    .user-content a.button {
      text-decoration: none; }
  .user-content h2 {
    font-size: 1.5rem; }
    .user-content h2:first-child {
      margin-top: 0; }
  .user-content ul {
    list-style: square;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding: 0; }
    .user-content ul li {
      margin-bottom: .5rem; }
  .user-content blockquote {
    clear: both;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #2196a3;
    line-height: 1.4; }
  .user-content figure {
    margin: 2rem 0; }
    @media screen and (min-width: 1020px) {
      .user-content figure {
        float: right;
        margin: 2rem 0 2rem 2rem; } }
    .user-content figure img {
      max-width: 100%;
      height: auto; }
    .user-content figure figcaption {
      margin: .25rem 0;
      font-size: .875rem;
      font-style: italic; }
