---
layout: base
---

<article class="page collection-page">
  <header class="page-header">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </header>
  <section class="collection-filters">
    <div class="container">
      <button class="filters-toggle">Hide Filters</button>
      <div class="filtering open">
        <h3>Filter</h3>
        <ul class="filter-options">
          <li><a href="">Abrasives</a></li>
          <li><a href="">Aluminum Tray Handles</a></li>
          <li><a href="">Acrylics</a></li>
          <li><a href="">Alginate</a></li>
          <li><a href="">Articulators</a></li>
          <li><a href="">Base Plates/custom Trays</a></li>
          <li><a href="">Brushes</a></li>
          <li><a href="">Burs</a></li>
          <li><a href="">Denture Bags</a></li>
          <li><a href="">Flasks</a></li>
          <li><a href="">Duplicating Material</a></li>
          <li><a href="">Gypsums</a></li>
          <li><a href="">Impression Materials</a></li>
          <li><a href="">Instruments</a></li>
          <li><a href="">Light Cure Material</a></li>
          <li><a href="">Miscellaneous</a></li>
          <li><a href="">Polishing Wheels/materials</a></li>
          <li><a href="">Pro-Cure / Pro-Flex</a></li>
          <li><a href="">Reline Materials</a></li>
          <li><a href="">Rotary Equipment</a></li>
          <li><a href="">Separating Media</a></li>
          <li><a href="">Silicone Putty</a></li>
          <li><a href="">Tooth Cabinets/wood Cases</a></li>
          <li><a href="">Waxes</a></li>
          <li><a href="">Wax Accessories</a></li>
          <li><a href="">Wheels</a></li>
          <li><a href="">Vacuum Forming Material</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="page-content collection-products">
    <div class="container">
      <div class="sorting">
        <h3>Sort</h3>
        <ul class="sort-options">
          <li><a href="">Product (A-Z)</a></li>
          <li><a href="">Product (Z-A)</a></li>
          <li><a href="">Price (High)</a></li>
          <li><a href="">Price (Low)</a></li>
          <li><a href="">Best Selling</a></li>
        </ul>
      </div>
      {{ content }}
    </div>
  </section>
</article>
<script>
  (function(){
    var filters_toggle = document.querySelector('.filters-toggle');
    var filters = document.querySelector('.filtering');
    filters_toggle.addEventListener('click', function(){
      filters.classList.toggle('open');
      filters.classList.toggle('closed');

      if (filters.classList.contains('closed')){
        filters_toggle.innerText = 'Show Filters';
      }
      else{
        filters_toggle.innerText = 'Hide Filters';
      }
    });
  })();
</script>
