.brand{
  display: inline-block;
  margin-top: .5rem;

  svg{
    width: 9rem;
    height: auto;

    @media screen and (#{$bp-larger-than-tablet}){
      width: 10rem;
    }
  }

  .cls-1{
    fill: $secondary-color;
  }

  &.reversed{
    .cls-1{
      fill: $white;
    }
  }
}
