.collection-previews{
  @include unstyled-list;
}

.collection-preview{
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid $border-color;

  @media screen and (#{$bp-larger-than-tablet}){
    display: flex;
  }

  &:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }

  .collection-image{

    @media screen and (#{$bp-larger-than-tablet}){
      width: 30%;
      padding-left: 2rem;
    }

    img{
      max-width: 100%;
      height: auto;
    }
  }

  .collection-text{

    @media screen and (#{$bp-larger-than-tablet}){
      width: 50%;
      padding-left: 2rem;
    }

    h3{
      margin-top: 0;
      font-size: 1.5rem;
    }
  }

  .collection-cta{
    width: 100%;
    margin: 2rem auto 0;
    text-align: center;

    @media screen and (#{$bp-larger-than-tablet}){
      width: 20%;
    }
  }
}
