.site-footer{
  color: $white;

  a{
    color: $white;
  }
}

.business-meta{
  width: 50%;

  .email{
    display: block;
    margin: 1rem 0;
  }
}

.site-meta{
  @include unstyled-list;
  width: 100%;
  margin-top: 2rem;
  text-align: center;

  li{
    display: inline-block;
    margin: 1rem;
    font-size: .875rem;
  }

  a{
    text-decoration: underline;
  }
}

.footer-nav{
  margin-top: 2rem;

  @media screen and (#{$bp-larger-than-tablet}){
    width: 50%;
  }
}
