.site-header{
  background-color: $white;

  .container{
    max-width: 128rem;
    padding: 2rem;
  }
}

.homepage{
  .site-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
  }
}

.contact-info{
  @include unstyled-list;
  position: absolute;
  top: .5rem;
  right: 2rem;

  li{
    display: inline-block;

    a{
      font-size: .8215rem;
      letter-spacing: .5px;
      color: $primary-color;
    }

    &:first-child:after{
      content: " | "
    }
  }
}
