.hero-section{
  padding-top: 10rem;
  padding-bottom: 4rem;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.hero-text{
  margin: auto;
  text-align: center;

  @media screen and (#{$bp-larger-than-tablet}){
    max-width: 60%;
  }

  p{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;

    @media screen and (#{$bp-larger-than-tablet}){
      font-size: 3.5rem;
    }
  }

  .button{
    padding: 1rem 1.5rem;
  }
}
