.homepage-section{

  .container{
    padding: 4rem;
  }

  h2{
    font-weight: 500;
  }

  p{
    font-size: 1.125rem;
  }
}

.catalog-section{
  background-color: $tertiary-color;
  overflow: hidden;

  .container{

    @media screen and (#{$bp-larger-than-tablet}){
      display: flex;
      padding-bottom: 2rem;
    }

    @media screen and (#{$bp-larger-than-desktop}){
      padding-bottom: 0;
    }
  }
}

.catalog-image{
  margin-bottom: -.5rem;
  margin-top: 0;

  img{
    max-width: 100%;
    height: auto;
  }
}

.catalog-text{
  margin-top: -1rem;

  @media screen and (#{$bp-larger-than-tablet}){
    max-width: 40%;
  }
}
