.container{
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem;
  z-index: 500;

  @media screen and (#{$bp-larger-than-desktop}){
    padding: 4rem 2rem;
  }

  &.flex-container{
    @media screen and (#{$bp-larger-than-tablet}){
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.site-content{
  padding-bottom: 4rem;
}
