.container{
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem;

  &.flex-container{
    @media screen and (#{$bp-larger-than-tablet}){
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.site-content{
  padding-bottom: 2rem;
}
