

.nav{
  display: inline-block;
  @include unstyled-list;

  li{
    display: inline-block;
    margin-left: 1rem;

    @media screen and (#{$bp-larger-than-tablet}){
      margin-left: 2rem;
    }

    a{
      text-transform: uppercase;
      letter-spacing: .5px;
      color: $primary-color;
    }
  }
}

.site-nav-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 8rem 4rem;
  background-color: $light-grey;
  transform: translateX(-100%);
  z-index: 10000;

  @media screen and (#{$bp-larger-than-tablet}){
    width: 40%;
  }

  @media screen and (#{$bp-larger-than-desktop}){
    position: relative;
    display: inline-block;
    top: -2rem;
    width: auto;
    height: auto;
    padding: 0;
    text-align: right;
    background-color: transparent;
    transform: none;
  }

  &.closed{
    transform: translateX(-100%);
    transition: transform .3s ease-in;
  }

  &.open{
    transform: translateX(0);
    transition: transform .3s ease-out;
  }
}

.site-nav{
  display: inline-block;
  text-align: center;

  li{
    display: block;
    margin-bottom: 2rem;

    @media screen and (#{$bp-larger-than-desktop}){
      display: inherit;
      margin-bottom: 0;
    }
  }

  a{
    font-size: 1.25rem;

    @media screen and (#{$bp-larger-than-desktop}){
      font-size: 1rem;
    }
  }
}

.secondary-nav{
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: inline-block;

  a{
    cursor: pointer;

    svg{
      width: 1.5rem;
      height: auto;
    }
  }
}


.site-nav-control {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  color: $font-color;
  background-color: transparent;
  border: 0;
  font-family: $primary-font-family;
  font-size: 1.5rem;
  vertical-align: bottom;
  cursor: pointer;
  transition: opacity .1s linear;

  @media screen and (#{$bp-larger-than-desktop}){
    display: none;
  }

  &:hover{
    opacity: .7;
  }
}

.open-site-nav:before {
  content: '\2630';
}

.close-site-nav:before {
  content: '\00D7';
}

.footer-nav{
  .nav{
    columns: 2;
  }

  li{
    display: block;
    margin-bottom: 1rem;
    margin-left: 0;

    @media screen and (#{$bp-larger-than-tablet}){
      margin-left: 1rem;
    }

    a{
      color: $white;
    }
  }
}
