.page{
}

.page-header{

  .container{
    padding-bottom: 1rem;
  }

  h1{
    margin-top: 0;
    font-size: 3rem;

    small{
      display: inline-block;
      margin-left: 1rem;
      color: $secondary-color;
    }
  }
}
