.page{
}

.page-header{

  .container{
    padding-bottom: 1rem;
  }

  h1{
    margin-top: 0;
    font-size: 2.5rem;

    @media screen and (#{$bp-larger-than-tablet}){
      font-size: 3rem;
    }

    small{
      display: block;
      color: $secondary-color;

      @media screen and (#{$bp-larger-than-tablet}){
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}
