.product-previews{
  @include unstyled-list;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: -2rem;
}

.product-preview{
  width: calc(50% - 2rem);
  margin-left: 2rem;
  margin-bottom: 4rem;

  @media screen and (#{$bp-larger-than-tablet}){
    display: flex;
    width: calc(33.333% - 2rem);
  }
}

.product-image{
  width: 80%;
  margin: 0 auto;

  @media screen and (#{$bp-larger-than-tablet}){
    width: calc(45% - 1rem);
    margin: 0 1rem 0 0;
  }

  img{
    max-width: 100%;
    height: auto;
  }
}

.product-information{

  @media screen and (#{$bp-larger-than-tablet}){
    width: 55%;
  }

  h3{
    font-size: 1.125rem;
  }

  .product-price{
    margin-bottom: .25rem;
    font-size: .875rem;
  }

  .product-description{
    margin-bottom: .25rem;
  }

  .button{
    margin-top: 1.5rem;
  }
}

//product details

.product-details{

  @media screen and (#{$bp-larger-than-tablet}){
    margin-bottom: 4rem;
  }

  .container{
    padding-top: 0;
  }

  .product-image{
    width: 80%;
    margin: 2rem auto 1rem;
    text-align: center;

    img{
      max-width: 100%;
      height: auto;
    }
  }
  .product-information{

    @media screen and (#{$bp-larger-than-tablet}){
      width: calc(60% - 4rem);
      margin-right: 4rem;
    }

    &.denture-teeth{

      @media screen and (#{$bp-larger-than-tablet}){
        width: calc(50% - 4rem);
      }
    }
  }

  .product-selection{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #eee;

    @media screen and (#{$bp-larger-than-tablet}){
      width: 40%;
      padding: 2rem;
      border-top: 0;
      border-left: 1px solid #eee;
    }

    &.denture-teeth{

      @media screen and (#{$bp-larger-than-desktop}){
        width: 40%;
        padding-right: 0;
      }

      h2{
        margin-top: 0;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}

.product-collection-label{
  display: block;
  margin-bottom: .5rem;
  font-size: .75rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.related-products{
  background-color: $tertiary-color;

  .product-preview{
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    background-color: $white;
  }
}
